* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: lightblue;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#sodoku {
  border: 3px solid #000;
  display: inline-grid;
  margin: 1rem;
}

.group {
  display: grid;
  border: 1px solid #000;
}

.item {
  border: 1px solid #555;
  width: 100%;
  height: 100%;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.hint {
  background: rgb(152, 188, 201);
}

.hover {
  background: rgb(113, 140, 150);
}

.numbers {
  display: flex;
  justify-content: center;
}

.number {
  padding: 1rem 1.3rem;
  border: 3px solid black;
  margin: 0.5rem;
  cursor: pointer;
}

.number:hover {
  background: rgb(157, 195, 207);
}

.title {
  font-size: 32px;
  text-align: center;
}
